<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>3T - BMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="./static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">3T</a>
      </div>
    </div>
    </div>

    <div class="container">
      <h1>Liste des BMAs</h1>
      <p>Ces fiches ont été exportées depuis l'application iPhone</p>
      <form method="POST" action="actionBMA">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Select</th>
            <th>#</th>
            <th>Image</th>
            <th>Légende</th>
            <th>DVR</th>
            <th>Nature</th>
            <th>Impact principal</th>
            <th>Probabilité</th>
            <th>Intensité</th>
            <th>Impact secondaire</th>
            <th>Immeuble</th>
            <th>Composant</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0 ; i < rows.length ; i++) { %>
            <tr>
              <td><input type='checkbox' name='bma' value='<%= rows[i].pk_id %>' /></td>
              <td><%= rows[i].id %></td>
              <td><%- getPictureOrNothing(rows[i].filename) %></td>
              <td><%= rows[i].legend %></td>
              <td><%- getImageOrNothing(rows[i].dvr) %></td>
              <td><%- getImageOrNothing(rows[i].nature) %></td>
              <td><%- getImageOrNothing(rows[i].principal_impact) %></td>
              <td><%- getImageOrNothing(rows[i].probability) %></td>
              <td><%- getImageOrNothing(rows[i].intensity) %></td>
              <td><%- getImageOrNothing(rows[i].second_impact) %></td>
              <td><%= rows[i].building %></td>
              <td><%= rows[i].component %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <input type='hidden' name='bma' value='-1' />
      <input type="submit" name="typeAction" class="btn btn-success" value="Exporter vers Excel" />
      <input type="submit" name="typeAction" class="btn btn-danger" value="Supprimer" />
      </form>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#example').DataTable({
          "info":     false,
          "searching" : false,
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
          },
          "columns": [
            { "orderable": false },
            null,
            { "orderable": false },
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            null,
            null
          ]
        });
      });
    </script>

  </body>
</html>
